#heading{
 #553100  
}
.header_container {
  width: 1000px;
  height: 100px;
  background-color: #FFDBAA;}
button{
  background-color:#805215;
  color:white
}
.background{
  background-color: #D4A76A
}




/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
