.header_container {
  width: 1000px;
  height: 200px;
  background-color: #FFDBAA;}

button{
  background-color:#805215;
}




/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
